@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 235, 233, 228;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-papirus bg-opacity-70 font-light_font text-lg text-black dark:bg-crt_background dark:font-dark_font dark:text-stone-200 md:text-base backdrop-filter backdrop-blur;
}


main {
  @apply backdrop-filter backdrop-blur-sm bg-slate-100 bg-opacity-20 rounded;
}

header {
  @apply flex justify-between;
}

li.checkbox-menu {
  @apply flex justify-between py-1 font-medium text-gray-600;
}

li.checkbox-menu > input {
  @apply ml-2 rounded border-0 text-retro_green ring-0 ring-stone-400 hover:ring-1 focus:outline-2 focus:outline-offset-0 focus:outline-stone-500 focus:ring-0;
}

li.checkbox-menu:hover > input {
  @apply ring-1;
}

audio {
  @apply rounded-full border border-stone-300 bg-stone-300 opacity-70 hover:opacity-100 !important;
}
