@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 235, 233, 228;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-waves bg-cover bg-repeat-y font-light_font text-lg text-black dark:bg-[#1b1e1d] dark:font-dark_font dark:text-stone-200 md:text-base;
}

.scroll-down {
  transform: translate3d(0, -100%, 0);
}

li.checkbox-menu {
  @apply flex justify-between py-1 font-medium text-neutral-700 hover:text-neutral-950 dark:text-neutral-200 dark:hover:text-neutral-50;
}

li.checkbox-menu > input {
  @apply ml-2 rounded border-0 text-retro_green ring-0 ring-neutral-400 hover:ring-1 focus:outline-2 focus:outline-offset-0 focus:outline-neutral-500 focus:ring-0;
}

li.checkbox-menu:hover > input {
  @apply ring-1;
}

audio {
  @apply rounded-full border border-stone-300 bg-stone-300 opacity-70 hover:opacity-100 !important;
}

figure:is(.dark .dark\:bg-zinc-800) .rhap_container {
  @apply bg-zinc-800 !important;
}

figure:is(.dark .dark\:bg-zinc-800) .rhap_time {
  @apply text-emerald-500;
}

figure .playing .rhap_play-pause-button {
  @apply text-[#384ad2];
}
