@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 235, 233, 228;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

/* html {
  font-family: var(--font-inter);
} */

body {
  @apply font-inter dark:font-montserrat bg-papirus dark:bg-stone-800 text-black dark:text-stone-200 bg-opacity-70
}

header {
  @apply flex justify-between
}

li.checkbox-menu {
  @apply text-gray-600 font-medium py-1 flex justify-between;
}

li.checkbox-menu>input {
  @apply ml-2 rounded ring-stone-400 ring-0 hover:ring-1 focus:ring-0 text-retro_green border-0 focus:outline-offset-0 focus:outline-2 focus:outline-stone-500;
}

li.checkbox-menu:hover>input {
  @apply ring-1;

}
